<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product_Layout</title>
    <link href="~/Content/YashStyle.css" rel="stylesheet" />
    <link href="~/Content/RayStyle.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navigation">
        <div class="logo-img">
            <a href="/Login/Index/"><img src="~/Content/Imgs/joole.png" alt="Joole" width="250" height="150"></a>
        </div>
        @using (Html.BeginForm("ProductResult", "Products", FormMethod.Post))
        {
            <div class="input-group mb-3 justify-content-center paddingtop">
                <div class="input-group-prepend">                                   
                        @*@Html.DropDownList("CategoaryID", (IEnumerable<SelectListItem>)TempData["CategoryListName"], new { @class = "form-control dropdownColor", @name = "CategoaryID" })*@
                </div>
                @*@Html.DropDownList("SubCategoaryID", new SelectList(" "), "Search...", new { @class = "form-control bold", @name = "SubCategoaryID" })*@
                <div class="input-group-append">
                    <button type="submit" value="Submit" class="btns form-control"><i class="material-icons">search</i></button>
                </div>
            </div>
        }
    </div>
    @*<div class="topnav">
            <a href="#">Product Summary</a>
            <a href="#">Product Details</a>
            <a href="#">Product Documentation</a>
            <a href="#">Contact</a>
        </div>*@

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $("#CategoaryID").change(function () {
            $.get("/Search/GetSubCategory", { CategoryID: $("#CategoaryID").val() }, function (data) {
                $("#SubCategoaryID").empty();
                $.each(data, function (index, row) {
                    $("#SubCategoaryID").append("<option value='" + row.SubCategoryID + "'>" + row.SubCategoryName + "</option>")
                });
            });
        })
    });
</script>