@{
    Layout = null;
}
@model WebGroupProject.Models.CategoryDropdownViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product_Layout</title>
    <link href="~/Content/RayStyle.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="~/Content/YashStyle.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navigation">
        <div class="logo-img">
            <a href="/Login/Index/"><img src="~/Content/Imgs/joole.png" alt="Joole" width="250" height="150"></a>
        </div>
        <div class="input-group mb-3 justify-content-center navblock">
            <div class="input-group-prepend">
                @if (ViewBag.CategoryListName != null)
                {
                    @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryListName as SelectList, "Category", new { @class = "form-control dropdownColor" })
                }
            </div>
            @Html.DropDownListFor(model => model.SubCategoryID, new SelectList(" "), "Search...", new { @class = "form-control bold" })
            <div class="input-group-append">
                <form action="SearchGoGo" method="post">
                    <a id="SearchBtn" name="SearchBtn" class="btns form-control"  href="/Products/ProductResult?SubcategoryID=@Html.ViewContext.HttpContext.Session["SubCategoryID"]"><i class="material-icons">search</i></a>
                </form>
            </div>
        </div>
    </div>
    <div class="topnav">
        <a href="#">Product Summary</a>
        <a href="#">Product Details</a>
        <a href="#">Product Documentation</a>
        <a href="#">Contact</a>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $("#CategoryID").change(function () {
            var SelectedID = $("#CategoryID Option:Selected").val();
            sessionStorage.setItem("CategoryID", SelectedID);
            $.get("/Search/GetSubCategory", { CategoryID: $("#CategoryID").val() }, function (data) {
                $("#SubCategoryID").empty();
                $.each(data, function (index, row) {
                    $("#SubCategoryID").append("<option value='" + row.SubCategoryID + "'>" + row.SubCategoryName + "</option>")
                });
            });
        })
        $("#SubCategoryID").change(function () {
            var SelectedSubCategoryID = $("#SubCategoryID Option:Selected").val();
            sessionStorage.setItem("SubCategoryID", SelectedSubCategoryID);
        });
    });
</script>